# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.venv/
venv/
env/
build/
dist/

# Jupyter
.ipynb_checkpoints/

# Env / secrets
.env
*.key
secrets.json

# Vector DB / data
*.sqlite3
chroma_db/
faiss_index/
data/raw/
data/processed/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
logs/
